:root {
    --blue: #1992d4;
    --white: #ffffff;
    --gray: #e2e8f0;

    --sidebar-width: max(230px, 15vw);
}

body {
    display: grid;
    grid-template: auto 1fr / var(--sidebar-width) 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";

    height: 100vh;
}

.header {
    grid-area: header;
    background-color: var(--white);
}

.sidebar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 50px;

    padding: 20px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
}

.sidebar ul {
    display: grid;
    gap: 10px;

    list-style-type: none;
    padding: 0;
}

.sidebar :link,
.sidebar :visited {
    text-decoration: none;
    color: var(--white);
}

.main {
    grid-area: main;
    background-color: var(--gray);
}

